.wechat
  position: absolute
  top: 85px
  left: 0
  bottom: 0
  width: 100%
  overflow: hidden
  .wechat-title
    font-size: 14px
    line-height: 14px
    padding: 10px 0
    text-align: center
    color: rgb(0, 160, 220)
    border-bottom: 0.5px solid rgba(7, 17, 27, 0.1)
  .item
    margin: 0 10px
    padding: 10px 0
    border-bottom: 0.5px solid rgba(7, 17, 27, 0.1)
    .title
      font-size: 14px
      line-height: 24px
      color: rgb(77, 85, 93)
    .mark
      text-align: right