.booklist-wrapper
  position: absolute
  top: 127px
  left: 0
  bottom: 0
  width: 100%
  overflow: hidden
  .title
    padding-left: 14px
    height: 26px
    line-height: 26px
    border-left: 2px solid #d9dde1
    font-size: 12px
    color: rgb(147, 153, 159)
    background: #f3f5f7
  .book-item
    display: flex
    .item-left
      flex: 0 0 170px
      width: 170px
      margin: 8px 0 8px 4px
      .icon
        width: 170px
        height: 170px
    .item-right
      position: relative
      flex: 1
      background-color: #f3f5f7
      margin: 8px 8px 8px 0
      border-radius: 10px
      .sub1
        font-size: 12px
        padding: 8px 0 8px 4px
        color: rgba(7, 17, 27, 0.6)
      .tag
        font-size: 12px
        color: rgba(7, 17, 27, 0.6)
        overflow: hidden
        padding: 0 4px 8px 4px
        text-overflow: ellipsis
        line-height: 12px
      .other
        position: absolute
        bottom: 0
        left: 0
        .catalog
          padding: 0 4px 8px 4px
          font-size: 12px
          line-height: 12px
          color: rgba(7, 17, 27, 0.6)
        .read
          font-size: 12px
          line-height: 12px
          color: rgba(7, 17, 27, 0.6)
          padding: 0 4px 8px 4px
          .time
            margin-left: 15px

.spinner
  position: absolute
  display: flex
  top: 200px
  left: 0
  width: 100%
  height: 100%
  justify-content: center