.movie
  position: absolute
  top: 85px
  left: 0
  bottom: 0
  width: 100%
  overflow: hidden
  .header
    font-size: 14px
    line-height: 24px
    color: rgba(7, 17, 27, 0.4)
    margin: 0 8px 0 8px
    padding: 10px 0
    border-bottom: 0.5px solid rgba(7, 17, 27, 0.1)
  .list
    position: relative
    .link
      text-align: center
      font-size: 14px
      line-height: 24px
      padding: 10px 0 0 0
      .list-name
        display: inline-block
        color: rgb(0, 160, 220)
    .movie-list
      .movie-item
        display: flex
        margin: 10px
        padding-bottom: 10px
        border-bottom: 0.5px solid rgba(7, 17, 27, 0.1)
        .item-left
          flex: 0 0 110px
          width: 110px
        .item-right
          position: relative
          flex: 1
          .item-name
            font-size: 15px
            color: rgb(77, 83, 95)
            font-weight: 500
            margin-bottom: 10px
          .star
            margin-bottom: 10px
          .score
            display: inline-block
            position: absolute
            top: 21px
            left: 72px
            font-size: 12px
            line-height: 18px
            color: #f90
          .director
            font-size: 12px
            line-height: 12px
            margin-bottom: 10px
            color: rgba(7, 17, 27, 0.6)
          .stars
            font-size: 12px
            line-height: 12px
            color: rgba(7, 17, 27, 0.7)
            margin-bottom: 10px
          .type
            font-size: 12px
            line-height: 12px
            color: rgba(7, 17, 27, 0.7)
            .type-name
              margin-right: 3px
              &:last-child
                margin: 0

